/* shared style */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.color-font{
    color: rgba(233, 90, 8, 1);
}

.font-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 200;
}

.font-size{
    font-size: 40px;
    font-weight: bold; 
}


/* navbar section */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 0px 50px 50px; */
      /* max-width: 1140px;  */
    /* margin: 0 auto; */
    border: 1px solid brown;
    margin-left: 90px;
    margin-right: 130px;
   
}

.navbar section{
    align-items: center;
}

.nav-logo{
    width: 130px;
    height: 80px;
}

.nav-icon{
    height: 24px;
    width: 24px;
    align-items: center;
    margin-top: 10px;
}

nav a{
    text-decoration: none;
    color: rgb(99, 97, 97);
}

nav li{
     list-style: none;
     display: inline;
     margin: 20px;
}


/* banner section */

.banner{
    display: flex;
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 130px;
    /* align-items: center; */
    align-items: center;
    justify-content: space-between;
    border: 1px solid brown;

}

.banner-title{
    font-size: 50px;
    font-weight: bold;
}

.banner-img{
    width: 500px;
    height: 300px;
}



/* Plants Section */


.plants-section{
    /* align-items: center; */
    margin-top: 60px;
    margin-left: 90px;
    margin-right: 133px;
    border: 1px solid brown;
    text-align: center;
}

.img-size{
    width: 200px ;
    height: 250px;
}

.btn-primary{
    background-color: rgba(233, 90, 8, 1);
    height: 50px;
    width: 200px;
    color: white;
    border: none;
}


.btn-primary :hover{
    background-color: rgb(230, 131, 74);
}


.plant-column{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        /* gap: 20px; */
}

.title{
    font-weight: bold;
    font-size: 35px;
}

.plant-cart {
    border: 1px solid brown;
    /* margin-top: 20px; */
    padding: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

/* Plants Lover Section  */

.lover-section{
    display: flex;
    justify-content: space-between;
    border: 1px solid brown;
    margin-top: 100px;
     margin-left: 90px;
    margin-right: 133px;
  
}

.store-img{
    width: 100%;
    height: 550px;
}




/* Deals section */



.deals-title{
        text-align: center;
}

.deals-img{
    display: flex;
}


.bloom-flower{
    background-image: url(imgs/deal-bloom.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 370px;
    border-radius: 15px;
    /* border: 1px solid brown; */
}


.ana-flower{
   background-image: url(imgs/deal-ana.png);
   background-repeat: no-repeat;
    height: 200px;
    width: 370px;
    border-radius: 15px;
    /* border: 1px solid brown; */
}

.zabo-flower{
    background-image: url(imgs/deal-zabo.png); 
    background-repeat: no-repeat;
    height: 430px;
    width: 770px;
    border-radius: 15px;
    /* border: 1px solid brown; */

}